
.addPostIcon {
  font-size: 28px;
  color: black;
  cursor: pointer;
}

.addPostContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 50%;
}

#description {
  margin-top: 5px;
  margin-bottom: 5px;
}

#description:hover {
  border: blue;
  border-style: solid;
  border-radius: 1px;
}


#addPostButton {
  background-color: #2e69ff;
  transition-duration: 0.4s;
  height: 30px;
  position: relative;
  border-width: 0px;
  color: white;
  border-radius: 10px;
  padding: 0px 20px;
  margin-top: 5px;
}
