.AllPostImages {
  height: 500px;
  width: 500px;
}

.AllPostContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: sans-serif;
}

.profilePicture {
  border-radius: 50%;
  width: 50px;
}

.userInfoOnPost {
  display: flex;
  align-items: center;
  padding: 5px;
  margin: 5px;
}

.userName {
  margin: 10px;
}
