.AllPostImages {
  height: 400px;
  width: 400px;
}

.AllPostContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 14px;
}

.singlePostContainer {
  background-color: #ffffff;
  border: 1px solid rgba(0,0,0,0.0975);
  border-radius: 2px;
  margin: 20px
}

.profilePicture {
  border-radius: 50%;
  width: 50px;
}

.userInfoOnPost {
  display: flex;
  align-items: center;
  padding: 5px;
  margin: 5px;
}

.userName {
  margin: 10px;
  font-weight: 750;
}

.usernameAndDescription{
  display: flex;
  padding: 5px 5px;
}

#username {
  font-weight: 750;
  margin-right: 5px;
}
