.likeContainer {
  padding-left: 5px;
  margin-top: 5px;
}

.likeAndCommentIcon {
  font-size: 22px;
  cursor: pointer;
}

#likeIcon-Red {
  font-size: 22px;
  color: red;
}

#commentIcon {
  margin-left: 5px;
}

.likeCount {
  margin-top: 5px;
}
