.singlePostGridContainer {
  display: grid;
  grid-template-columns: 2fr 1fr;
  max-width: 933px;
  justify-self: center;
  border-radius: 3px;
  background-color: white;
  border: 1px solid #d8d8d8d7;
  margin: 40px auto 0 auto;
  margin-bottom: 60px;
}

.left-grid-image {
  /* object-fit: contain; */
  height: 506px;
  width: 100%;
}

.editAndDeleteIcons {
  display: flex;
  align-items: center;
  position: relative;
  left: 118px;
}

.postcardComment {
  border-top: 1px solid #d8d8d8d7;
  height: 300px;
}

.postOwnerInfo {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  padding: 0 5px;
  margin: 0 5px;
}

.profilePictureOnPostcard {
  border-radius: 50%;
  width: 42px;
}

.usernameOnPostcard {
  margin: 10px;
  font-weight: 600;
  font-size: 10pt;
  text-decoration: none;
  color: black;
  position: relative;
  top: 5px;
}

.postDescriptonOnPostcard {
  font-size: 10pt;
  position: relative;
  top: 5px;
}

.single-like-container {
  /* border-top: 1px solid #d8d8d8d7; */
  margin-top: 38px;
  margin-left: 5px;
}
