.singlePost {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.userInfo {
  text-align: center;
}

.profileP {
  border-radius: 50%;
  width: 100px;
}

.userInfo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5%;
}

.editAndDeleteIcons {
  display: flex;
}
