.myProfilePageWrapper {
  margin: 0 auto;
  padding-top: 20px;
}

.profile-header {
  display: flex;
  margin: 0 auto;
  border-bottom: 0.5px solid #dbdbdb;
  width: 935px;
  padding-left: 4%;
  gap: 50px;
  min-height: 25vh;
  align-items: center;
}

.profileP {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  object-fit: cover;
}

.profileRight {
  display: flex;
  flex-direction: column;
}

/* .user-info {
  display: flex
} */

.profileRight {
  margin-left: 5%;
}

.user_posts_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 20px;
}

.post_image_wrapper {
  height: 300px;
}

.postImageProfilePage {
  object-fit: fill;
  height: 100%;
  width: 100%;
  cursor: pointer;
}
