.editCommentContainer {
  display: flex;
  flex-direction: column;
  width: 300px;
}

#usernameTitle {
  font-size: 11pt;
  color: #858383;
  padding: 10px
}

.editCommentInput {
  width: 86%;
  font-size: 14pt;
  outline: none;
  border: none;
  border-bottom: 1px solid #d6d5d5;
  background: transparent;
  padding: 10px;
  margin-left: 10px;
}

.editCommentButtons {
  display: flex;
  flex-direction: column;
  margin-top: 150px;
  width: 100%;
  /* padding-top: 10px; */
}

#submitButtonModal {
  background-color: #0095f6;
  color: white;
  border: none;
  cursor: pointer;
  padding: 5px;
}

#cancelButtonModal {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 5px;
}
