.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 1px; */
  background-color: white;
  width: 100%;
  position: sticky;
  top: 0;
  /* box-shadow: 0px 5px 8px -9px rgba(0, 0, 0, 0.5); */
  border-bottom: 1px solid #d8d8d8d7;
}

.left_logo {
  margin: 0 6rem;
}

.left_logoImage {
  width: 70px;
}

/* .mid_search {
  display: flex;
  align-items: center;
  border: 1px solid lightgray;
  padding: 5px;
  border-radius: 5px;
} */

/* .center_inputField {
  border: none;
  outline: none;
  background-color: transparent;
} */

.right_header {
  display: flex;
  align-items: center;
  margin: 0 6rem;
}

@media screen and (max-width: 500px) {
  .navBar {
    display: flex;
    justify-content: space-between;
    /* flex-basis: 33%; */
    flex-wrap: wrap;
  }
  .left_logo {
    margin: 0;
  }
  .right_header {
    display: flex;
    align-items: center;
    margin: 0;
  }
}

.userProfile {
  font-size: 25px;
  color: black;
  margin-left: 2rem;
  margin-right: 2rem;
}

.logoutButton {
  font-size: 25px;
  cursor: pointer;
}
